
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background-color: #262626;
}

#mainbody {
    display: grid;
    place-items: center;
    grid-template-areas: 
    "pic1 pic2"
    "h1 h1";
    margin-top: 5vw;
}

#mainbody > img {
    height: 25vw;
}

#mainbody .pic1 {
    justify-self: end;
    width: 30vw;
    height: 18vw;
}

#mainbody .pic2 {
    justify-self: start;
    width: 45vw;
    height: 30vw;
}

a, h1{
    margin-top: 2vw;
    text-align: center;
    grid-column: -3 / -1;
}

h1 {
    font-size: 2.5vw;
}

a {
    color: #FFE000;
    text-decoration: none;
}

a h1:hover {
    color: #FFFF00;
    text-decoration: underline;
}

@media (max-width: 769px) {
    #mainbody {
        margin-top: 18%;
    }
}

@media(max-width: 426px) {
    #mainbody {
        display: grid;
        place-items: center;
        grid-template-areas: 
        "pic1"
        "pic2"
        "h1";
        margin-top: 12.5vh;
    }

    #mainbody .pic1 {
        grid-area: pic1;
        justify-self: center;
        width: 60%;
        height: 100%;
        padding-bottom: 20px;
    }

    #mainbody .pic2 {
        grid-area: pic2;
        justify-self: center;
        width: 80%;
        height: 100%;
        padding-top: 20px;
    }

    a, h1 {
        grid-column: 1 / -1;
        font-size: 5vw;
        margin-top: 5vw;
    }
}
